html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
    width: 100%;
  }

    .banner {
    max-height: 500px;
  position: relative;
}

.banner-body {
  max-width: 50em;
  position: absolute;
  left: 5em;
  bottom: 6em;
  padding-left: 9rem;
  padding-top: 1rem;

}

.banner-title {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
}

p {
  font-size: 2rem;
  padding-top: 1.5rem;
  font-style: italic;
}

h2 {
  align-items: center;
  margin-top: -6.5em;
  overflow: hidden;
}

body {
  margin: 0;
  transform: translate();
}
