html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  max-height: 500px;
  position: relative;
}

.banner-body {
  max-width: 50em;
  position: absolute;
}

.banner-title {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  align-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
}

p {
  font-size: 2rem;
}

h2 {
  align-items: center;
  margin-top: -6.5em;
  overflow: hidden;
  padding:
}

body {
  margin: 0;
  transform: translate();
}
